img {
    width: 400px;
    height: 325px;
    border-radius: 100px;
}
body {
    text-align: center;
    background-color: yellow;
}
h3 {
    width: 400px;
}
.t1, .t2, .t3 {
    margin: 50px;
    background-color: aqua;
}